body {
  min-height: 100vh;
  flex-direction: column;
  background-color: grey;
}

main {
  flex: 1 0 auto;
}


i.material-icons{
  display: unset !important;
}

a i{
  color: #6A0000;

}

a.button{
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: #6A0000;
}

div.input-field{
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: #6A0000;
}

.adminTab{
  padding-top: 50px;
  width: 80%;
}
