body {
  min-height: 100vh;
  flex-direction: column;
  background-color: grey;
}

main {
  flex: 1 0 auto;
}

nav{
  /* height: 95px; */
  background-color: unset;
}


nav a.sidenav-trigger {
   display: block ; 
}

nav .input-field{
  height: auto;
}

.sidenav{
  background-color: rgba(255, 255, 255, 0.699);
}


input#search{
  width: 500px;
  height: 48px;
  border-bottom: none;
}

i.material-icons{
  display: unset !important;
  font-size: 60px !important;
}

a i{
  color: #6A0000;
}

a.button{
  border-radius: 25px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: #6A0000;
}

div.input-field{
  border-radius: 25px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: #6A0000;
  flex-grow: 1;
}

.adminTab{
  padding-top: 50px;
  width: 80%;
}

.left {
  left: auto;
}

.right {
  right: auto;
}

.multianimebg{
  background-image: url("../img/Multi-bg.png");
}

.card-title{
margin-left: 12px;  
}

.turk{
  height: 500px !important;
}

.backgroundoffre{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/black_clover_bg.png');
  backdrop-filter: blur(3px); 
}

.titleoffre{
  margin-top: 50px;
  border-radius: 15px;
  background-color: rgba(167, 167, 167, 0.555);
}