body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo img{
    max-height: 45px;
    margin: 10px;
}

.icone{
  font-size: 50px
}

.equilibre{
  text-align: justify;
}

.intervenant{
  min-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.carousel .ml img{
  height: 400px;
}
.carousel .s img{
  height: 250px;
}

.contact{
  padding-top: 20px;
  max-width: 90%;
}

.commentaire{
  padding-bottom:40px;
  color:#ffab40
}

.downloads{
  background-color: black;
  color: white;
  border: solid;
  border-color: red;
  padding-bottom: 20px
}

nav{
  background-color: white;
}



.l {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img.i {
  max-width: 600px;
  height: auto;
}

div.p {
  display: flex;
}

div.p img{
  padding: 10px;
}

img.j {
  max-width: 350px;
  height: auto;
}

img.s{
  max-height: 900px;
  width: auto;
}


img.ss{
  max-width: 800px;
  height: auto;
}

img.k {
  max-width: 400px;
  height: auto;
  }
